$navColor1: #43cea2;
$navColor2: #185a9d;
$mainBgColor: #000;
$sidebarColor: #fff;
$navTxtColor: #fff;
$arrowDivColor: #525456;
$clearBtnColor: #f15642;

$navbarHt: 8vh;
$minNavbarHt: 48px;
$sidebarWidth: 15vw;
